@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Permanent+Marker&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Permanent+Marker&family=Questrial&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*--------HEADER--------*/
header{
    background-color: #fbbc02;
    padding: 0px;
    flex-wrap: wrap;
}
header input{
  float: right;
}

header .bloque{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .bloque a{
   text-decoration: none;
   color: black;
   transition: 1s;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
header .bloque a:hover{
    font-size: 20px;
}
.cabeza{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.cabeza div a{
    text-decoration: none;
    font-weight: 50px;
    color: black;
    letter-spacing: 5px;
    transition: 1s;
}
.cabeza a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    transition: 1s;
    letter-spacing: 5px;
}
.cabeza a:hover{
    font-size: 20px;
}

.logo{
    width: 140px;
    height: 50px;
    margin: 10px;
}
.varios {display: flex;}

.cabeza button{
    text-decoration: none;
    font-weight: 50px;
    color: black;
    letter-spacing: 5px;
    transition: 1s;
    padding: 0%;
}
.cabeza button:hover{
    font-size: 20px;
}
/*---------MAIN---------*/
.disfruta div div img{
    width: 260px;
    height: 230px;
    border-radius: 13px 13px 0 0;
    
}
.varios{display: flex;}
.varios{
    justify-content: center;
}
.disfruta div div{
    width: 280px;
    height: 320px;
    border: 2px solid lightslategray;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    margin: 5px;
}
.disfruta h2{
    text-align: center;
    margin: 15px;
    letter-spacing: 7px;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.disfruta div div a{
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    margin: 7px;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid gray;
    transition: 1s;
}
.disfruta div div a:hover{
    font-size: 18px;
}
.disfruta div div h3{
    padding: 0;
    margin: 10px;
    display: inline-block;
    font-size: 18px;
}
.pdest{display: flex;}
.destacadotel div div img{
    width: 400px;
    height: 400px;
    border-radius: 13px 13px 0 0;
    text-align: center;
    position: relative;
    display: inline-block;
    
}
.destacados h2{
    text-align: center;
    margin: 15px;
    letter-spacing: 7px;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.destacados div div{
    width: 450px;
    height: 450px;
    border: 2px solid lightslategray;
    border-radius: 15px;
    margin: 10px;
    
}
.pdest{
    justify-content: center;
}
.pdest div{
    text-align: center;
    position: relative;
    display: inline-block; 
}
.destacadotel{
    align-items: center;
    justify-content: center;
    background: url(../img/productos/img-samsung-galaxy-s10.jpg);
    background-size: cover;
    background-position: center;

}
.titulodestacado{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    color: darkslateblue;
}

.teledestacada{
    align-items: center;
    justify-content: center;
    background: url(../img/productos/img-tv-samsung-smart.jpg);
    background-size: cover;
    background-position: center;
    
}
.titulotele{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    color: darkslateblue;
}

/*--------FOOTER--------*/
footer{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid gray;
}
footer div ul li a{
    text-decoration: none;
    color: black;
    font-weight: 20px
}
footer span{
    color: black;
    font-size: 20px;
}
footer div ul{
    list-style: none;
    text-decoration: none;
    color: grey;
    font-weight: 20px;
}
footer div h4{
    font-weight: 700;
}
.bordes{
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    padding-left: 40px;
    padding-right: 300px;
}

.botonmail{
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    margin: 7px;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid gray;
    transition: 1s;
}

/*------REGISTRO------*/
.cuerporeg{
    background-color: #fbbc02;
}
.formulario{display: flex;}
.formulario{
    width: 300px;
    height: 400px;
    border: 2px solid lightslategray;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    background-color: white;
}
.formulario div{
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario img{
    width: 130px;
    height: 40px;
    margin: 15px;
}
.formulario h1{
    font-family: Arial, Helvetica, sans-serif;
}
.formulario div div input{
    border-radius: 15px;
    border-color: darkcyan ;
}

.botonreg{
    background-color: blueviolet;
    color: white;
    border-radius: 5px 5px 5px 5px;
    transition: 1s;
   
}
.botonreg:hover{
    font-size: 20px;
}
.mainregistro{
    justify-content: center;
    text-align: center;
    align-items: center;
}




@media screen and (max-width:663px ){
    header{
        flex-direction: column;
    }
}

@media screen and (max-width:437px ){
    header p{
        flex-direction: column;
    }
}
@media screen and (max-width:1075px) {
    .varios{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width:869px) {
    .pdest{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
}